<h1>Listing songs</h1>

<table>
  <tr>
    <th>Party</th>
    <th>Song name</th>
    <th>Song artist</th>
    <th>Song album</th>
    <th>Song duration</th>
    <th>Song location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.party_id %></td>
    <td><%= song.song_name %></td>
    <td><%= song.song_artist %></td>
    <td><%= song.song_album %></td>
    <td><%= song.song_duration %></td>
    <td><%= song.song_location %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
